#topBannerBox {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0 24px 0;
    background-color: #777;
    background-image: url('/images/placeholder169-1200x400.jpg');
    background-size: cover;
}

#topBannerBox h2 {
    margin: 50px 0 0 0;
    color: #f4f4f4;
    font-weight: bold;
    letter-spacing: 1px;
}

#contentBox {
    margin: 25px 0 50px 0;
}

#footerBox {
    position: relative;
    width: 100%;
    padding: 16px 0 18px 0;
    background-color: #3b3b3b;
    color: #f0f0f0;
}

#formCriar section {
    margin-bottom: 24px;
}

#formCriar h4 {
    margin-bottom: 10px;
}

#formCriar label {
    color: #555;
    font-weight: bold;
}

#formCriar .obrigatorio {
    color: red;
}

#formCriar small.form-text {
    color: #777;
}
#formCriar small.form-text.invalido {
    color: #f33;
}

#formCriar input.invalido {
    color: #f42626;
    border-color: #f11;
}
#formCriar input.invalido:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.3);
}

#formCriar select.invalido {
    color: #f42626;
    border-color: #f11;
}
#formCriar select.invalido:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.3);
}

.item-cliente {
    padding-top: 20px;
}

.item-cliente .cliente-nome {}

.item-cliente .cliente-id {}

.item-cliente .campo-comum {
    padding: 10px 0;
}
.item-cliente .campo-comum > .label {
    float: left;
    color: #555;
}
.item-cliente .campo-comum > .valor {
    float: right;
    color: #222;
    text-align: right;
}

.item-cliente .cliente-botoes {
    position: relative;
    padding: 13px 0 0 0;
}

.item-cliente .cliente-botoes > .btn {
    margin: 0 10px 0 0;
}
